{% extends "base.html" %}
{% set title="Đăng ký" %}
{% block content %}
<div class="card">
  <div class="card-header"><b>Đăng ký tài khoản</b></div>
  <div class="card-body">
    <form method="POST">
      {{ form.hidden_tag() }}

      <div class="mb-3">
        {{ form.ma_sv.label }}
        {{ form.ma_sv(class="form-control") }}
        {% for e in form.ma_sv.errors %}
          <div class="text-danger">{{ e }}</div>
        {% endfor %}
      </div>

      <div class="mb-3">
        {{ form.ten_sv.label }}
        {{ form.ten_sv(class="form-control") }}
      </div>

      <div class="mb-3">
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
      </div>

      <div class="mb-3">
        {{ form.mat_khau.label }}
        {{ form.mat_khau(class="form-control") }}
      </div>

      <button class="btn btn-primary">Đăng ký</button>
    </form>
  </div>
</div>
{% endblock %}